---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main class="main">
		<Header />
		
	</main>
</Layout>
<style>
	body{
		margin: 0px;
		background-color: #fff;
	}
	.main{
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
</style>