<header class="header">
    <img
        src="../../public/logo.jpg"
        alt="Waystar Royco"
        class="header-logo"
    />

    <h2>We are the future</h2>
    <hr class="header-hr">
    <p>ATN NCN LNN</p>
</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

    .header {
        position: sticky;
        background-color: rgb(255, 255, 255);
        height: 10em;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Lexend Peta', sans-serif;
    }
    .header h2{
        font-size: 1rem;
        font-weight: 100;
        margin-bottom: 0px;
    }
    .header-hr{
        width: 100px;
        height: 1px;
        margin: -20px;
        background-color: black;
        border: none;
    }
    .header p{
        margin: 0px;
    }
    .header-logo {
        width: 180px;
    }
</style>
